/* ---------------
        Fonts
   --------------- */
@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato Thin";
    src: url(../fonts/lato/Lato-Thin.ttf);
}

@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "Raleway Regular";
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}


/* ---------------
        Grid
   --------------- */

/* Some code for image zooming borrowed from here:
   https://thatwebdude.com/tutorial/css-image-zooming-grid/ */

#grid-container {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.grid-element {
    position: relative;
    overflow: hidden;
    border: 10pt solid #fff;
    height: 200pt;
}

.grid-element-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  text-align: center;
  margin: 7.5% 0 0;
  padding: 10px 0;
  height: 43pt;
}

.grid-element-name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
    margin: 7.5% 0 0;
    padding: 10px 0;
    height: 43pt;
    border-top: 5px solid rgba(255, 255, 255, .3);
    border-bottom: 5px solid rgba(255, 255, 255, .3);
}

.grid-element-expanded-info {
    position: absolute;
    top: 46%;
    left: 5%;
    z-index: 10;
    width: 90%;
    height: 50%;
    padding: 15pt;
    background-color: white;
    overflow: auto; 
}

.grid-element-expanded-info span {
    position: relative;
    color: black;
    font-family: Raleway Regular;
    font-size: medium;
    padding: 10pt;
    bottom: 3pt;
}

.grid-element-expanded-info br {
    display: block;
    content: ""; 
    margin-top: 10pt; 
}

.grid-element a {
    color: black;
}

.grid-element:hover a {
    color: black;
}

.col-sm-6 col-lg-4 col-xl-3 grid-element {
    background-color: #8281A0;
}

.long-queue {
  background-color: #E84258;
}

.medium-queue {
  background-color: #FEE191;
}

.short-queue {
  background-color: #B0D8A4;
}

.pub-closed {
  background-color: #8281A0;
}

/* Nice orange colour: #FD8060 */

.rectangle {
  height: 76px;
  width: 40px;
  background-color: #555;
  margin: auto;
  position: relative;
  left: 70px;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
}

#circle-1 {
  background-color: #464348;
  top: 2px;
  left: 9px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: absolute;
}

#circle-2 {
  background-color: #464348;
  top: 27px;
  left: 9px;
    height: 22px;
  width: 22px;
  border-radius: 50%;
  position: absolute;
}

#circle-3 {
  background-color: #464348;
  top: 51px;
  left: 9px;
    height: 22px;
  width: 22px;
  border-radius: 50%;
  position: absolute;
}
