<!doctype html>
<html lang="en">
<head>
    <title>Pub Crawl | Help</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Icons -->
    <!-- TODO: fix the path below, it is pointing to nowhere.... -->
    <!-- link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body>
<!-----------------------
         Navbar
------------------------>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Pub Crawl <i class="fa fa-beer" aria-hidden="true"></i></a>
    <a class="navbar-promo">Chalmers University of Technology</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <i class="fa fa-home" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/views/pubmap.html">Pub Map <i class="fa fa-street-view"
                                                                         aria-hidden="true"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/views/help.html">Help <i class="fa fa-info-circle"
                                                                    aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav> <!-- Navbar END -->

<!-----------------------
     Help page
 ------------------------>
<div class="container-fluid" id="ssf-container">
    <div class="row">
        <!-----------------------
                 Help Function
        ------------------------>
        <div class="col-lg-12 ssf-element" id="search">
            <h2>How to use the Web Page:</h2>

            <button type="search" id="searchButton">Help</button>

        </div> <!-- Help END -->
    </div> <!-- Row END -->
</div> <!-- Help Section END -->

<!-----------------------
          Footer
------------------------>
<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 site-footer-element">
                <h2 class="site-footer-heading mb-4">About Us</h2>
                <hr class="site-footer-element-hr">
                <p>
                    The Chalmers Pub Crawl is an important and entertaining event and this site is the essential guide
                    to help all the students who attend the Pub Crawl.
                    This webpage project has been created by the brilliant students from Team 16 in the course DAT257.
                </p>
            </div>

            <div class="col-md-3 site-footer-element">
                <h5 class="site-footer-heading mb-4">Social Media</h5>
                <hr class="site-footer-element-hr">

                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/chalmersstudentkar">Student Union Facebook</a></li>
                    <li><a href="https://www.facebook.com/ChalmersStudentkarsPubrunda">Pub Crawl Facebook</a></li>
                </ul>
            </div>

            <div class="col-md-3 site-footer-element">
                <h5 class="site-footer-heading mb-4">Alcohol Policy</h5>
                <hr class="site-footer-element-hr">

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.riksdagen.se/sv/dokument-lagar/dokument/svensk-forfattningssamling/alkohollag-20101622_sfs-2010-1622">Swedish
                            Alcohol laws</a></li>
                    <li>
                        <a href="https://student.portal.chalmers.se/en/studentlife/student-work-environment/Pages/alcohol-drug-abuse-policy.aspx">Chalmers
                            Alcohol rules</a></li>
                </ul>
            </div>

            <div class="col-md-3 site-footer-element">
                <h5 class="site-footer-heading mb-4">Student Union</h5>
                <hr class="site-footer-element-hr">

                <ul class="list-unstyled">
                    <li><a href="https://chalmersstudentkar.se/contact-us/">Contact Us</a></li>
                    <li><a href="https://chalmersstudentkar.se/pub-crawl/">Pub Crawl Info</a></li>
                </ul>
            </div>
        </div> <!-- Grid row -->
    </div>

    <hr class="site-footer-hr">

    <!-- Copyright -->
    <div class="footer-copyright text-center">
        <h6>
            &copy;
            <script>document.write(new Date().getFullYear());</script>
            Copyright
        </h6>

        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
</footer> <!-- Footer END -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

<!-- JavaScript files-->
<!--<script src="../node_modules/calculateQueue.js"></script>
<script src="js/changeQueueColour.js"></script>
<script src="js/sortFunction.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/expandContractGridElements.js"></script>
<script src="js/getVote.js"></script> -->

<!-- The window.onload function has to be the last one to be loaded! -->
<!--<script src="js/addPubInfo.js"></script>-->

</body>

</html>