<!doctype html>
<html lang="en">
  <head>
    <title>Pub Crawl</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../css/style.css">



      <!-- Map stuff -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
      <!-- Make sure you put this AFTER Leaflet's CSS -->
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
              integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
              crossorigin=""></script>




      <style>
          html, body {
              height: 100%;
              padding: 0;
              margin: 0;
          }
          #map {
              /* configure the size of the map */
              width: 100%;
              height: 100%;
          }
      </style>
  </head>
  
  <body>
    <!----------------------- 
             Navbar 
    ------------------------>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="../">Pub Crawl</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../">Home<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="views/pubmap.html">Pub Map</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                    
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../views/profile.html">My account</a>
                        <a class="dropdown-item" href="">Information</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Extra</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav> <!-- Navbar end -->


    <!----------------------- 
        Map stuff
    ------------------------>
    <div id="map"></div>
    <script>
        // initialize Leaflet
        var map = L.map('map').setView({lon:11.976642 , lat: 57.689454}, 15);

        // add the OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
           maxZoom: 19,
          attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);

        // show the scale bar on the lower left corner
        L.control.scale().addTo(map);

        // Icon
        var Golden_I = L.icon({
            iconUrl: "/images/icons/Golden_I_Logga.png",

           // shadowUrl: 'leaf-shadow.png',

            iconSize:     [78, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

        var Hubben = L.icon({
            iconUrl: "/images/icons/Hubben_logga.png",

            // shadowUrl: 'leaf-shadow.png',

            iconSize:     [78, 95], // size of the icon
            shadowSize:   [50, 64], // size of the shadow
            iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
        });



        L.marker([57.692882, 11.975164], {icon: Golden_I}).addTo(map).bindPopup("Iskall").openPopup();
        L.marker([57.688335, 11.979359], {icon: Hubben}).addTo(map).bindPopup("DÖDSKRÖK1337").openPopup();

        // show a marker on the map
       // var marker = new L.Marker({lon:11.975164 , lat: 57.692882});






        //var goldenI =  L.marker({lon:11.975164 , lat: 57.692882}).addTo(map).bindPopup("Golden I");



    </script>
    <!----------------------- 
              Footer 
    ------------------------>
    <footer class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 site-footer-element">
                    <h2 class="site-footer-heading mb-4">About Us</h2>
                    <hr class="site-footer-element-hr">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                </div>

                <div class="col-md-3 site-footer-element">
                    <h5 class="site-footer-heading mb-4">Chalmers Policy</h5>
                    <hr class="site-footer-element-hr">

                    <ul class="list-unstyled">
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                    </ul>
                </div>

                <div class="col-md-3 site-footer-element">
                    <h5 class="site-footer-heading mb-4">Rules</h5>
                    <hr class="site-footer-element-hr">

                    <ul class="list-unstyled">
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                    </ul>
                </div>

                <div class="col-md-3 site-footer-element">
                    <h5 class="site-footer-heading mb-4">Student Union</h5>
                    <hr class="site-footer-element-hr">
                    
                    <ul class="list-unstyled">
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                    </ul>
                </div>
            </div> <!-- Grid row -->
        </div>

        <hr class="site-footer-hr">

        <!-- Copyright -->
        <div class="footer-copyright text-center">
            <h6>
                &copy; 
                <script>document.write(new Date().getFullYear());</script>
                Copyright
            </h6>
        </div>
        <!-- Copyright -->

    </footer> <!-- Footer end -->
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


     <!-- JavaScript files-->
    <script src="../js/getVote.js"></script>
    <script src="../js/calculateQueue.js"></script>
    <script src="../js/changeQueueColour.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/expandContractGridElements.js"></script>
  </body>

</html>