<!doctype html>
<html lang="en">
<head>
    <title>Pub Crawl</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../css/style.css" rel="stylesheet">


    <!-- Map stuff -->
    <link crossorigin="" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          rel="stylesheet"/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script crossorigin=""
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>


</head>

<body>
<!-----------------------
         Navbar
------------------------>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="../">Pub Crawl</a>

    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#">Pub Map</a>
            </li>

            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="navbarDropdown" role="button">Profile</a>

                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="../views/profile.html">My account</a>
                    <a class="dropdown-item" href="">Information</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Extra</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">Contact Us</a>
            </li>
        </ul>
    </div>
</nav> <!-- Navbar end -->


<!-----------------------
    Map stuff
------------------------>


<div class="container-fluid" id="map-container">
    <div class="row">
        <div class="col-lg-12 map-element" id="search">
            <div id="map">
                top: 300px;
                <script>
                    // initialize Leaflet
                    var map = L.map('map').setView({lon: 11.976642, lat: 57.689454}, 15);

                    // add the OpenStreetMap tiles
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
                    }).addTo(map);

                    // show the scale bar on the lower left corner
                    L.control.scale().addTo(map);

                    //Adds markers for every pub
                    let basen = L.marker([57.687480, 11.978640]).addTo(map);
                        basen.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Basen")).openPopup();
                    let kajsa = L.marker([57.688210, 11.978730]).addTo(map)
                        kajsa.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Kajsabaren")).openPopup();
                    let hubben = L.marker([57.688330, 11.979270]).addTo(map)
                        hubben.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Hubben 2.1")).openPopup();
                    let bulten = L.marker([57.688970, 11.978690]).addTo(map)
                        bulten.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Café Bulten")).openPopup();
                    let zaloonen = L.marker([57.689081, 11.979204]).addTo(map)
                        zaloonen.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Zaloonen")).openPopup();
                    let winden = L.marker([57.689552, 11.978064]).addTo(map)
                        winden.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Winden")).openPopup();
                    let rodaRummet = L.marker([57.687510, 11.976563]).addTo(map)
                        rodaRummet.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Röda Rummet")).openPopup();
                    let verum = L.marker([57.687560, 11.976763]).addTo(map)
                        verum.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Verum")).openPopup();
                    let tagvagnen = L.marker([57.688282, 11.975849]).addTo(map)
                        tagvagnen.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Tågvagnen")).openPopup();
                    let gasquen = L.marker([57.688650, 11.975160]).addTo(map)
                        gasquen.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Gasquen")).openPopup();
                    let pripps = L.marker([57.688740, 11.974630]).addTo(map)
                        pripps.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("J.A. Pripps")).openPopup();
                    let focus = L.marker([57.691053, 11.975531]).addTo(map)
                        focus.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Focus")).openPopup();
                    let fortNOx = L.marker([57.691039, 11.978209]).addTo(map)
                        fortNOx.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Fort NOx")).openPopup();
                    let gastown = L.marker([57.691113, 11.978331]).addTo(map)
                        gastown.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Gastown & Spritköket")).openPopup();
                    let wikanders = L.marker([57.692588, 11.975321]).addTo(map)
                        wikanders.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Wikanders")).openPopup();
                    let goldenI = L.marker([57.692902, 11.975156]).addTo(map)
                        goldenI.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Golden-I")).openPopup();
                    let cafeC = L.marker([57.707149, 11.940027]).addTo(map)
                        cafeC.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("Café C")).openPopup();
                    let elvan = L.marker([57.706218, 11.936804]).addTo(map)
                        elvan.bindPopup(L.popup({closeOnClick: true, autoClose: false}).setContent("11:an")).openPopup();
                </script>
            </div>
        </div>
    </div>
</div>
<!-----------------------
          Footer
------------------------>
<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 site-footer-element">
                <h2 class="site-footer-heading mb-4">About Us</h2>
                <hr class="site-footer-element-hr">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>

            <div class="col-md-3 site-footer-element">
                <h5 class="site-footer-heading mb-4">Chalmers Policy</h5>
                <hr class="site-footer-element-hr">

                <ul class="list-unstyled">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                </ul>
            </div>

            <div class="col-md-3 site-footer-element">
                <h5 class="site-footer-heading mb-4">Rules</h5>
                <hr class="site-footer-element-hr">

                <ul class="list-unstyled">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                </ul>
            </div>

            <div class="col-md-3 site-footer-element">
                <h5 class="site-footer-heading mb-4">Student Union</h5>
                <hr class="site-footer-element-hr">

                <ul class="list-unstyled">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                </ul>
            </div>
        </div> <!-- Grid row -->
    </div>

    <hr class="site-footer-hr">

    <!-- Copyright -->
    <div class="footer-copyright text-center">
        <h6>
            &copy;
            <script>document.write(new Date().getFullYear());</script>
            Copyright
        </h6>
    </div>
    <!-- Copyright -->

</footer> <!-- Footer end -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!-- JavaScript files-->
<script src="../js/getVote.js"></script>
<script src="../js/changeQueueColour.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/expandContractGridElements.js"></script>
</body>

</html>